# --- ddev-wp-vip local (merge into .gitignore) ---
/mu-plugins/
/wordpress/
/plugins/*
!/plugins/index.php
/themes/*
!/themes/index.php
.ddev/.ddev-docker-compose-*.yaml
.ddev/mutagen/
.ddev/traefik/
.ddev/.dbimageBuild/
.ddev/.webimageBuild/
.ddev/db_snapshots/
.ddev/nginx/vip-media-proxy.conf
config/vip-sync.yaml
*.sql
*.sql.gz
